/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	flex-direction: column;
	/* margin: 50px 0 */
}
#header{
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
#editBanner{
	height: 60px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.edit{
	cursor: pointer;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction figure .edit{
	display: block;
	margin: auto;
	margin-top: 15px;
	width: 80%;
}
.edit{
	display: flex;
	gap: 5px;
}
.edit:focus{
	font-style: 'bold';
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2, #portfolio p {
	text-align: center;
}
#portfolioHeader{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: 1em;
}

/* -------------------- 
	MODAL
-------------------- */
.modal {
	display: none; /* Cacher la fenêtre modale par défaut */
	position: fixed;
	z-index: 1; /* Placer la fenêtre modale au-dessus de tout autre élément */
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto; /* Afficher une barre de défilement si le contenu dépasse la hauteur de la fenêtre modale */
	background-color: rgba(0,0,0,0.4); /* Couleur de fond semi-transparente */
  }
  
/* Style du contenu de la fenêtre modale */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* Marge centrée verticalement */
	padding: 30px;
	min-height: 50%;
	width: 600px;
	height: 600px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#modal-gallery, #modal-ajout{
	height: 100%;
	width: 80%;
}
#contentCenter{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
#galleryEdit {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 30px;
	height: 400px;
	width: 100%;
}
#galleryEdit figure{
	height: 100px;
	width: 80px;
}
#galleryEdit figure img{
	height: auto;
	width: 100%;
}

#ajoutPhoto{
	height: 150px;
	width: 100%;
    background-color: rgb(232 241 246);
	display: flex;
	justify-content: center;
	align-items: center;
}
#ajoutPhotoBeforeChange{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/* -------------------- 
	MODAL PROJECT 
-------------------- */
.delete-icon {
	position: relative;
	background-color: black;
	height: 15px;
	width: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 20px;
	right:-60px;
	color: rgb(255, 255, 255); 
	cursor: pointer;
}

.close/* Style de la croix de fermeture */
{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}
.back{
	color: #aaa;
	float: left;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}
.close:hover,
.close:focus, .back:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/* -------------------- 
	FILTRE
-------------------- */
#filtres{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}
#filtres button{
	height: 100%;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	min-width: 100px;
	text-align: center;
	border-radius: 60px;
	border: 1px #1D6154 solid;
}
#filtres button:focus, #filtres button:hover{
	color: white;
	background-color: #1D6154;
	border: none;
}
.show{
	display: block;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* -------------------- 
	CONTACT
-------------------- */
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, .inputText {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], input[type="button"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}


/* -------------------- 
	LOGIN
-------------------- */
#sectionLogin{
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

#formLogin{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.setInputLogin{
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.button{
	height: 40px;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	min-width: 100px;
	text-align: center;
	border-radius: 60px;
	border: 1px #1D6154 solid;
}
.buttonEdit{
	color: black;
	background-color: white;
	border: 1px black solid;
	font-family: 'Work Sans' ;

}
/* -------------------- 
	FOOTER
-------------------- */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

